#--------------------------------------
# ignore default
#--------------------------------------
/*

#--------------------------------------
# root files
#--------------------------------------
!/.gitignore
!/README.md
!/fancybox-np.min.css
!/fancybox-np.min.js
!/fancybox-np.min.js.map

#--------------------------------------
# other
#--------------------------------------
!/src
!/test
