#--------------------------------------
# ignore default
#--------------------------------------
/*

#--------------------------------------
# root files
#--------------------------------------
!/.gitignore
!/README.md
!/index.html
!/fancybox-np.min.css
!/fancybox-np.min.js
!/fancybox-np.min.js.map

#--------------------------------------
# other
#--------------------------------------
!/docs
!/src
!/test
